#home {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100vh - 70px);
}

.text {
    font-size: 72px;
    position: relative;
    text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    #home {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

@media screen and (max-width: 768px) {

}