#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e6e2d3;
    z-index: 9999;
    text-align: center;
    padding-top: 10px;
}

.text p {
    font-size: 32px;
    font-weight: bold;
}

.contact-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.phone i,
.email i,
.address i {
    padding: 5px;
}

.phone a,
.email a,
.address a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
}

@media screen and (max-width: 400px) {
    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .phone,
    .email {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 426px) {
    #footer {
        display: none;
    }
}